<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="one">
            <h1>REPUBLIC DAY SPECIAL</h1>
        </div>  
        <div class="col-12"  id="blue">
            <h1>26 JANUARAY</h1>
        </div>  
        <div class="col-12" id="green">
            <h1>A VERY HAPPY REPUBLIC DAY TO YOU</h1>
        </div>

    </div>
</div>
<nav class="navbar navbar-expand-sm  navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
         src="https://tse1.mm.bing.net/th?id=OIP.S9KJHHq4S87pt3FV4h6-vwHaEK&pid=Api&P=0&w=303&h=170" 
         alt="Avatar Logo" 
         style="width:40px;"
         class="rounded-pill"> 
      </a>
      <audio controls="autoPlay">
          <source src="https://gaana.com/song/jana-gana-mana-2">
      </audio>
    </div>

  </nav>
