<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img
            src="https://media0.giphy.com/media/kh2EkBeJFIRdkRKKs3/giphy.webp?cid=ecf05e474f59z2m4ajje9j8f0zjeeqb3my76ww8g3m7pqbkr&rid=giphy.webp&ct=g"
            alt="republic day">
        </div>
        <div class="col-6" id='flag'>
            <h1></h1>
        </div>
        <div class="col-3">
            <img
            src="https://media0.giphy.com/media/kh2EkBeJFIRdkRKKs3/giphy.webp?cid=ecf05e474f59z2m4ajje9j8f0zjeeqb3my76ww8g3m7pqbkr&rid=giphy.webp&ct=g"
            alt="republic day">
        </div>
    </div>
</div>
  